
.div-table-roweven {
  display: flex;
  flex-direction: row;
  width: 67vw;
  height: fit-content;
  background-color: #ebebfa;
 padding-top: 0.6vh;
  padding-bottom: 0.6vh;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
 align-self: center;
  justify-content: flex-start;
  align-items: center;  

}

.div-table-coleven1 {
  display: block;         
  width: 3vw;
  text-align: left;         
  background-color: #ebebfa;  
}

.coleven1textspan {
 font-family: serif;
 font-size: 1vw;
 white-space: nowrap;
}

.div-table-coleven2 {
  display: block;         
  width: 15vw;
  text-align: left;         
  background-color: #ebebfa;  
}

.coleven2textspan { 
 font-family: serif;
 font-size: 1vw;
 white-space: nowrap;
}

.div-table-coleven3 {
  display: block;         
  width: 12vw;
  text-align: left;         
  background-color: #ebebfa;  
}


.coleven3textspan { 
 font-family: serif;
 font-size: 1vw;
 white-space: nowrap;
}

.div-table-coleven4 {
  display: block;         
  width: 9.5vw;
  text-align: left;         
  background-color: #ebebfa;  
}


.coleven4textspan { 
 font-family: serif;
 font-size: 1vw;
 white-space: nowrap;
}

.div-table-coleven5 {
  display: block;         
  width: 19vw;
  text-align: left;         
  background-color: #ebebfa;  
}


.coleven5textspan { 
 font-family: serif;
 font-size: 1vw;
 white-space: nowrap;
}

